#wrapper {
	background: teal;
	margin: auto;
}
header {
	height: 150px;
	background: gray;
	border: 1px solid black;
	margin-bottom: 10px;
}
section {
	height: 350px;
	background: pink;
	border: 1px solid black;
	margin-bottom: 20px;
	width: 70%;
	position: relative;
	float: left;
}
aside {
	height: 350px;
	background: pink;
	border: 1px solid black;
	margin-bottom: 20px;
	width: 20%;
	position: relative;
	float: right;
}
footer {
	height: 100px;
	background: gray;
	border: 1px solid black;
	width: 100%;
	clear: both;
}